/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.cb-news-ticker-breaking-news-content {
    width: 72%;
}
.cb-news-ticker-right {
    right: 3%;
}
.cb-news-ticker-breaking-news-ticker {
    max-width: 800px;
}
.cb-news-ticker-breaking-news-heading {
    font-size: 14px;
    padding: 5px 8px;
}


}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

.suga-breaking-news {
    display: block;
    text-align: center;
}
.suga-breaking-news-heading {
    border-right: 0;
    font-size: 20px;
    margin-right: 0;
}
.suga-breaking-news-content h2 {
    padding-right: 0;
    margin-right: 0;
    font-size: 14px;
}
.suga-breaking-news-ticker {
    position: relative;
}
.suga-breaking-news-ticker .col-lg-1 {
    position: absolute;
    top: 0px;
    right: 0;
}
.cb-news-ticker-breaking-news-heading {
    border-right: 0px solid #1a1a1a;
    color: #1a1a1a;
    font-size: 10px;
    margin-right: 0;
    padding:5px;
}
.cb-news-ticker-breaking-news-content {    
    margin: 0;
    width: 69%;
}
.cb-news-ticker-right {
    top: -4px;
    right: 5%;
}
.cb-news-ticker-breaking-news-close span {
    font-size: 13px;
}

}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.cb-news-ticker-breaking-news-heading {
    font-size: 13px;
    padding: 5px;
}
.cb-news-ticker-breaking-news-ticker {
    max-width: 767px;
}
.cb-news-ticker-breaking-news-close span {
    font-size: 15px;
}
.cb-news-ticker-right {
    top: -2px;
    right: 5%;
}

}


